.swiper-container {
    width: 100%;
    height: 11.2rem;
}
.swiper-container img{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.questList{
    padding: .8rem;
}
.questList ul{
    width: 100%;
}
.questList ul li{
    width: 100%;
    height: 8rem;
    margin-bottom: .8rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    background: #ef6956;
}
.questLeft{
    float: left;
    width: 77%;
    height:100%;
}
.questTitle{
    margin-left: 1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    color: #fff;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.questImg{
    margin: .4rem;
    height: 4.6rem;
    border: 1px solid #fff;
}
.questImg img{
    display: block;
    float: left;
    margin-top: .6rem;
    margin-left: 1rem;
    width: 3.2rem;
    height: 3.2rem;
}

@media screen and (max-width: 320px){
    .questTitle{
        font-size: 1rem;
    }
}
@media screen and (min-width: 321px){
    .questTitle{
        font-size: 1.2rem;
    }
}

.questRight{
    float: right;
    width: 23%;
    height:100%;
    color: #fff;
    border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -ms-border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    background: #aa5447;
    cursor: pointer;
}
.questRight span{
    display: block;
    text-align: center;
}
.progress, .timer{
    font-size: .6rem;
}
.progress{
    margin-top: 1.6rem;
}
.state{
    font-size: 1.2rem;
}