.tab{
    position: fixed;
    top: 3.2rem;
    left: 0;
    height: 3.2rem;
    width: 100%;
    border-bottom: 1px solid #cacaca;
    overflow-x: scroll;
    background: #cacaca;
    z-index: 99;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#f0f0f0));
    background: -ms-linear-gradient(top, #fff,  #f0f0f0);
    background:-moz-linear-gradient(top,#fff,#f0f0f0);
}
.tabList{
    height: 100%;
}
.tabList li{
    float: left;
    margin: 0 .8rem;
    height: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: #818181;
    cursor: pointer;
}
.tabList .sel{
    font-weight: bold;
    color: #cc1d02;
}
.content{
    margin-top: 7.3rem;
}
.fundBtn{
    position: fixed;
    top: 6.5rem;
    left: 0;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #cacaca;
    background: #fff;
    z-index: 98;
}

.netValue, .range{
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.netValue div{
    position: relative;
    display: block;
    text-align: left;
    text-indent: .8rem;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: #cb1c01;
    border-right: 1px solid #ccc;
}
.range div{
    position: relative;
    display: block;
    text-align: left;
    text-indent: .8rem;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: #cb1c01;
}
.icon_arrow{
    position: absolute;
    top: 1rem;
    right: .8rem;
    width: 1.3rem;
    height: 1rem;
    background: url(../img/icon_arrow_red.png) no-repeat;
    background-size: 1.3rem 1rem;
}
.descending{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); 	/* Opera */
}
.increase{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
.fundList{
    width: 100%;
}
.fundList ul li{
    margin-bottom: 1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.tableHead{
    padding: 0 1rem;
    height: 2.7rem;
    line-height: 2.7rem;
    border-bottom: 1px solid #ccc;
}
.fundName{
    font-size: 1.2rem;
}
.fundCode{
    font-size: .8rem;
    color: #868686;
}
.icon_heart{
    display: none;
    float: right;
    background: url(../img/icon_heart.png) 50% no-repeat;
    background-size: 1.4rem 1.2rem;
}
.tableInfo{
    width: 100%;
    line-height: 1.8rem;
    text-indent: 1rem;
    margin: .8rem 0;
}
.td1, .td2{
    width: 50%;
}
.td1{
    border-right: 1px solid #cacaca;
}
.tr1 {
    color: #868686;
}
.tr2{
    height: 2rem;
    line-height: 2rem;
    font-size: 1.6rem;

}
.tr2 .td1{
    -webkit-background-size: 1px 100%;
    background-size: 1px 100%;
}
.red{
    color: #e51c23;
}
.green{
    color: #00ff00;
}