.feature{
    padding: 1rem;
    border-bottom: 1px solid #000;
}
.fundData{
    position: relative;
    margin: 1rem .8rem;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}
.tableInfo{
    width: 100%;
    text-indent: 1rem;
    margin: 1rem 0;
    background: url("../img/bg_line.jpg") 50% no-repeat;
    background-size: 1px 100%;
}
.td1, .td2{
    width: 50%;
}
.tr2{
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
}
.tr2 .td1{
    -webkit-background-size: 1px 100%;
}
.red{
    color: #e51c23;
}
.green{
    color: #00ff00;
}
.state{
    bottom: 1rem;
}
.time{
    font-size: .8rem;
    color: #868686;
    padding-left: 1rem;
}
.fundInfo{
    padding: .5rem 0;
    height: 2.4rem;
    border-top: 1px solid #cacaca;
}
.fundInfo span{
    display: inline-block;
    float: left;
    height: 2.4rem;
    line-height: 2.4rem;
    width: 50%;
    text-indent: 1rem;
}

.tableTitle{
    margin: 1rem .8rem 0;
    height:3rem;
    border: 1px solid #cccccc;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#ececec));
    background: -ms-linear-gradient(top, #fff,  #ececec);
    background:-moz-linear-gradient(top,#fff,#ececec);
}

.trend, .hisValue{
    float: left;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}
.bgColor{
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#d3d3d3), to(#efefef));
    background: -ms-linear-gradient(top, #d3d3d3,  #efefef);
    background:-moz-linear-gradient(top,#d3d3d3,#efefef);
}
.trend div, .hisValue div{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}
.chart{
    margin: 0 .8rem 1rem;
    height: 20rem;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}
.hisTable{
    display: none;
    margin: 1rem .8rem;
    height: 20rem;
    overflow: scroll;
}
.hisTable table{
    width: 100%;
    line-height: 2rem;
}
.hisTable th{
    width: 25%;
    text-align: center;
    min-width: 4rem;
    border: 1px solid #cacaca;
}
.hisTable td{
    text-align: center;
    border: 1px solid #cacaca;
}
.details{
    width: 100%;
}
.listName, .detailsTitle{
    margin: .4rem .8rem 0;
    height: 3.2rem;
    line-height: 3.2rem;
    text-indent: 1rem;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}
.listName{
    cursor: pointer;
}
.listShow{
    display: none;
    padding: .8rem;
    margin: 0 .8rem .8rem;
    text-indent: 2rem;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}
.manager{
    position: absolute;
    right: 4rem;
}
.icon_arrow{
    position: absolute;
    right: 1rem;
    margin: 1rem;
    width: .8rem;
    height: 1rem;
    background: url(../img/icon_arrow.png) no-repeat;
    -webkit-background-size: .8rem 1rem;
    background-size: .8rem 1rem;
}
.increase{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
}
.statement{
    margin: 1rem 0;
    text-align: center;
}