.cashinfo{
    color: #a1a0a0;
    background: #fff;
    font-size: 1.28rem;
    margin: .4rem 0;
    padding: 1.2rem 1rem;
}
.black{
    color: #222;
}
.form{
    color: #a1a0a0;
    background: #fff;
    font-size: 1.28rem;
}
.form div{
    height: 3.6rem;
    padding: 0 1rem;
    border-bottom: 1px solid #d9d9d9;
}
.form span{
    display: block;
    float: left;
    line-height: 3.6rem;
}
.form .cashWay{
    height: auto;
    padding: 0;
}
.form .cashWay div{
    border: none;
    height: 3rem;
}
.form .cashWay div:nth-child(1){
    height: 3.6rem;
}
.form .cashWay div:nth-child(1) span{
    line-height: 3.6rem;
}
.cashWay span{
    display: inline;
    line-height: 3rem;
}
.cashinfo div{
    width: 100%;
    height: 2.4rem;
}
.cashSel{
/*    margin-left: 2rem;*/
}
.icon_circle{
    display: block;
    float: left;
    margin: .6rem .3rem;
    width: 1.8rem;
    height: 1.8rem;
    background-position: -9rem -6rem;
    cursor: pointer;
}
.active{
    display: block;
    float: left;
    margin: .6rem .3rem;
    width: 1.8rem;
    height: 1.8rem;
    background-position: -9rem -4rem;
    cursor: pointer;
}
.cashinfo span{
    display: block;
    float: left;
    line-height: 2.4rem;
}
.backMoney{
    display: block;
    padding: .9rem 0;
    /* height: 3.6rem; */
    /* line-height: 1.2rem; */
    border: none;
    text-indent: .3rem;
}
.left{
    width: 7rem;
}
.fundNo{
    margin-left: .6rem;
}
.little{
    font-size: 1rem;
}

.remind {
    margin-top: .9rem;
    padding: 0 1rem;
    height: 1.6rem;
    font-size: 1.12rem;
}
.goCash{
    position: relative;
}

.position{
    position: absolute;
    right: 1rem;
    top: -2rem;
    cursor: pointer;
}
.icon_sel_y {
    /*display: block;
    float: left;*/
    vertical-align: sub;
    width: 1.2rem;
    height: 1.2rem;
    background-position: -4rem -2rem;
    cursor: pointer;
}
.icon_sel_n {
    /*display: block;
    float: left;*/
    vertical-align: sub;
    width: 1.2rem;
    height: 1.2rem;
    background-position: -4rem -4rem;
    cursor: pointer;
}
.gray{
    /*display: block;
    float: left;*/
    color: #c1c1c1;
    margin-left: .8rem;
}

/*
@media screen and (max-height: 480px) {
    .logo{
        display: none;
    }
    .goCash{
        margin-top: 2rem;
    }

}
@media screen and (min-height: 481px) and (max-height: 568px) {
    .goCash{
        margin-top: 4rem;
    }
}
@media screen and (min-height: 569px){
    .goCash{
        margin-top: 4.8rem;
    }
}*/
