.content{
    padding: 0 1rem;
}
.search{
    position: absolute;
    height: 1.2rem;
    line-height: 1.2rem;
    top: 1.2rem;
    right: .9rem;
    cursor: pointer;
}
.search span{
    float: left;
    font-size: 1rem;
    color: #fff;
}
.tab{
    overflow: hidden;
    margin: .8rem auto;
    height: 2.4rem;
    border: 1px solid #5ea0fe;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #5ea0fe;
    background: #fff;
}
.tab ul {
    width: 101%;
    height: 2.4rem;
}
.tab ul li{
    float: left;
    width: 33%;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.28rem;
    text-align: center;
    border-right: 1px solid #5ea0fe;
    cursor: pointer;
}
/*.tab ul li:last-child{
    border-right: none;
}*/
.sel{
    background: #5ea0fe;
    color: #fff;
}
.queryList{
    
}
.historyList{

}
.shareList{

}
.todayList ul li, .historyList ul li, .shareList ul li{
    width: 100%;
    height: 4.8rem;
    background: #fff;
    margin-bottom: .4rem;
    cursor: pointer;
}
.status{
    float: left;
    width: 5.6rem;
    line-height: 4.8rem;
    text-align: center;
    height: 100%;
    background: #5ea0fe;
}
.briefInfo{
    float: left;
    height: 100%;
    margin: 0 0 0 .8rem;
    color: #414141;
}
.briefInfo .td1{
    text-align: left;
}
.briefInfo .td2{
    text-align: right;
}
.icon_right{
    float: right;
    margin: 1.6rem .6rem;
    width: .8rem;
    height: 1.6rem;
    background-position: -12rem -4rem;
}
.fontSizeL{
    font-size: 1.2rem;
}
.fontSizeS{
    font-size: 1rem;
}
.green{
    color: #00da9e;
}
.yellow{
    color: #efaf04;
}
.red{
    color: #f54d5d;
}


.advQuery{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 10;
}
.conditionList{
    margin: 7rem auto 0;
    width: 21.8rem;
}
.conditionList li{
    margin-bottom: 1.8rem;
    height: 2rem;
    width: 100%;
    font-size: 1.28rem;
}
.conditionList li div{
    float: left;
}
.listLeft{
    width: 30%;
}
.listLeft span{
    line-height: 2rem;
}
.listRight{
    width: 70%;
}
.listRight input, .listRight select{
    width: 100%;
    text-indent: .4rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.confirm, .cancel{
    width: 100%;
    margin-bottom: 1.6rem;
}
.confirm a, .cancel a{
    display: block;
    margin: 0 auto;
    width: 21.8rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
}
.confirm a{
    background: #52e4bd;
}
.cancel a{
    background: #5ea1fc;
}

@media screen and (max-width: 320px){
    .fontSizeL{
        font-size: 1rem;
    }
}
